<p>Cursos components works! Criado modulo primeiro com comando <code>
ng g m cursos</code> e depois criado os components com comando <code>ng g c cursos</code></p>
<p>
    Lista de cursos do portal loiane training {{ nomePortal }}
</p>
<app-curso-detalhe></app-curso-detalhe>

<ul>
    <li *ngFor="let curso of cursos">
        {{ curso }}
    </li>
</ul>