<p>Meu primeiro2 criado com comando <code>ng g c meu-primeiro2</code> works!</p>
<span>Chamando componente cursos em <code>meu-primeiro2.html</code></span> 
<!--
<strong>
<app-cursos></app-cursos>
</strong>
-->