<section>
    <!--
    <article>
        <h3>Interpolation / Interpolação</h3>
        <p>String redenrizada com interpolção {{ url }}</p>
        <p>Resultado de 1 + 1 é: {{ 1 + 1}}</p>
        <p>Resultado de 1 + 1  não é: {{ 1 + 1 + getValor() }}</p>
        <p>Curso  Angular 2 e gosto do curso: {{ cursoAngular && getCurtirCurso()}}</p>
    </article>

    <article>
        <h3>Properity Binding X Interpolation</h3>
        <p>Imagem carregada com interpolação</p>
        <img src="{{ urlImagem }}" alt="">
        <p>Imagem carregada com properity binding</p>
        <img [src]="urlImagem" alt="">
        <p>Imagem carregada com diretiva properity binding, formato padrão</p>
        <img bind-src="urlImagem" alt="">
    </article>
    -->
    <article>
        <h3>Class e Style Binding</h3>
        <div>
            <select #classe (change)="0">
                <option value="alert-success">Sucesso</option>
                <option value="alert-info">Info</option>
                <option value="alert-warning">Alerta</option>
                <option value="alert-danger">Erro</option>
            </select>
        </div>
        <div class="alert {{ classe.value }}" role="alert">
            Texto colorido conforme o valor do combobox
        </div>
        
        <div class="alert " role="alert" [class.alert-info]="classe.value == 'alert-info'">
        A simple info alert—check it out!
        </div>
        <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">
        A simple warning alert—check it out!
        </div>
        <div class="alert " role="alert" [class.alert-success]="classe.value == 'alert-success'">
        A simple success alert—check it out!
        </div>
        <div class="alert " role="alert" [class.alert-danger]="classe.value == 'alert-danger'">
            A simple danger alert—check it out!
        </div>
        <div class="alert alert-danger" role="alert"
            [style.display]="classe.value == 'alert-danger' ? 'block' : 'none' ">
            A simple danger alert—check it out!
        </div>

        
    </article>
</section>